/*Pagina Productos*/
main {
    section{
        .product-title {
            font-size: 1.5rem;
            color: rgb(62, 92, 73);
            padding: 30px 5px;
            margin: 0px;
            letter-spacing: 1px;
            p:last-child {
                font-size: 1rem;
                padding: 0px;
                color: black;
            }
        }
    }
}

@media screen and (max-width:990px) {
    main {
        section{
            .product-title {
                font-size: 15px;
                p:last-child {
                    font-size: 14px;
                }
            }
        }
    }
}
