main{
    section{
        .page-title {
            text-align: center;
            padding-top: 10px;
            font-family: 'Kalam', cursiva;
            letter-spacing: 2px;
            color:rgb(62, 92, 73);
            background-color: rgba(86, 148, 110, 0.2);
            p {
                color: rgb(0, 0, 0);
                font-size: 17px;
                padding-bottom: 10px;
            }
        }
    }
}
