@import "reset";
@import "navbar";
@import "footer";
@import "titulo-paginas";
@import "inicio";
@import "cards";
@import "productos";


/*CONTACTO*/

.form {
    margin: 30px 0px 30px 0px;
    box-shadow: 0px 0px 20px rgba(6, 2, 4, 0.3);
    border-radius: 8px;
    padding: 30px 20px;
    background-color:rgba(110, 155, 127, 0.2);
    .inputs {
        border: none;
        padding: 10px;
        margin: 0;
        label {
            margin: 10px 10px 10px;
            color: rgb(62, 92, 73);
            font-size: 15px;
        }
    }
}

.input-button {
    display: flex;
    justify-content: center;
    font-size: 14px;
    button {
        border-radius: 8px;
        padding: 10px 40px;
        text-decoration: none;
        background-color:#fff;
        color: rgb(62, 92, 73);
        &:hover {
            color:rgb(131, 24, 68);
            box-shadow:3px 8px 22px rgba(147, 106, 124, 0.5);
            background-color: rgb(234, 225, 229);
        }
    }
}

/*FORMULARIO - DETALLES DE CONTACTO*/
.contact-details {
    margin: 30px 10px;
    h2 {
        background-color: rgba(110, 155, 127, 0.2);
        color: rgb(0, 0, 0);
        font-size: 1.5rem;
        letter-spacing: 1px;
        text-align: center;
        font-family: 'Kalam', cursiva;
        padding: 10px;
        border-radius: 8px;
    }
    .details-1 {
        color: black;
        padding: 5px;
        display: flex;
        align-items: center;
        img {
            width: 30px;
            height: 30px;
        }
        p {
            margin: 10px;
            padding: 10px;
            background-color: rgba(86, 148, 110, 0.2);
            border-radius: 8px;
        }
    }
}

.iframe-map {
    margin-top: 20px;
    padding: 10px;
    display: flex;
    align-items: center;
}

/*PAGE CARE*/
.imagen-cuidado {
    margin-top: 30px;
    width: 290px;
    height: 410px;
    background-color: rgba(224, 199, 209, 0.5);
    img {
        width: 270px;
        height: 390px;
        margin-top: 10px;
    }
}


@media screen and (max-width: 990px) {
    .imagen-cuidado img {
        width: 190px;
        height: 220px;
    }
    .imagen-cuidado {
        width: 210px;
        height: 240px;
        margin-left: 5px;
    }
}

.parrafo-cuidado {
    text-indent: 30px;
    text-transform: initial;
    margin-top: 10px;
    padding: 10px 20px;
    h2 {
        text-indent: 0%;
        text-align: center;
        color: rgb(62, 92, 73);
    }
}

@media screen and (max-width:1000px) {
    .parrafo-cuidado {
        font-size: 15px;
        text-align: justify;
        padding: 5px;
    }
}

@media screen and (max-width:768px) {
    .parrafo-cuidado {
        font-size: 14px;
        text-align: justify;
        padding: 5px;
        width: 550px;
        h2 {
            font-size: 18px;
        }
    }
}

@media screen and (max-width: 990px) {
    article {
        display: flex;
        justify-content: center;
    }
}


/*PAGE ABOUT*/
.video {
    display: flex;
    justify-content: center;
    video {
        align-items: center;
        width: 850px;
        height: 500px;
    }
}
.about-content{
    display: flex;
    justify-content: center;
    align-items: center;
    .about-img {
        padding: 10px;
        position: relative;
        img {
            width: 250px;
            height: 350px;
        }
    }
    .contenido-hover{
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        position: absolute;
        background: rgba(224, 199, 209, 0.7);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: 0.5s;
        h2{
            font-size: 30px;
            color: rgb(54, 3, 28);
        }
        p {
            font-size: 18px;
            color: rgb(54, 3, 28);
        }
        &:hover {
            opacity: 1;
        }
    }
}

@media screen and (max-width: 850px) {
    .video {
        width: 380px;
        height: 200px;
        display: flex;
        justify-content: center;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        video {
            width: 550px;
            height: 200px;
        }
        img {
            width: 150px;
            height: 250px;
        }
    }
}


